.container{
 background-image: url(http://vignette2.wikia.nocookie.net/steamtradingcards/images/f/f8/Resident_Evil_4_Biohazard_4_Background_RE4_Cemetery.jpg/revision/latest?cb=20140701062607); 
 background-position: center;
}
.col-md-8{
	color: red;
}
.col-md-6{
	color: white;

}
